{{ $.Site.Store.Set "brokeros_component_dir" $.Site.Params.brokeros_component_dir }}
{{ $.Site.Store.Set "brokeros_hero_component" $.Site.Params.brokeros_hero_component_default }}
{{ $.Site.Store.Set "brokeros_hero_component_full_path" $.Site.Params.brokeros_component_dir }}
{{ $.Site.Store.Add "brokeros_hero_component_full_path" $.Site.Params.brokeros_hero_component_default }}

{{ $.Site.Store.Set "brokeros_hero_component_background_image" $.Site.Params.brokeros_hero_component_background_image_default }}
{{ $.Site.Store.Set "brokeros_hero_component_announcement_text" $.Site.Params.brokeros_hero_component_announcement_text_default }}
{{ $.Site.Store.Set "brokeros_hero_component_headline_primary_text" $.Site.Params.brokeros_hero_component_headline_primary_text_default }}
{{ $.Site.Store.Set "brokeros_hero_component_headline_secondary_text" $.Site.Params.brokeros_hero_component_headline_secondary_text_default }}
{{ $.Site.Store.Set "brokeros_hero_component_headline_tertiary_text" $.Site.Params.brokeros_hero_component_headline_tertiary_text_default }}
{{ $.Site.Store.Set "brokeros_hero_component_cta_button_pretext" $.Site.Params.brokeros_hero_component_cta_button_pretext_default }}
{{ $.Site.Store.Set "brokeros_hero_component_cta_button_1_text" $.Site.Params.brokeros_hero_component_cta_button_1_text_default }}
{{ $.Site.Store.Set "brokeros_hero_component_cta_button_1_link" $.Site.Params.brokeros_hero_component_cta_button_1_link_default }}
{{ $.Site.Store.Set "brokeros_hero_component_cta_button_2_text" $.Site.Params.brokeros_hero_component_cta_button_2_text_default }}
{{ $.Site.Store.Set "brokeros_hero_component_cta_button_2_link" $.Site.Params.brokeros_hero_component_cta_button_2_link_default }}
{{ $.Site.Store.Set "brokeros_hero_component_tile_image_1" $.Site.Params.brokeros_hero_component_tile_image_1_default }}
{{ $.Site.Store.Set "brokeros_hero_component_tile_image_2" $.Site.Params.brokeros_hero_component_tile_image_2_default }}
{{ $.Site.Store.Set "brokeros_hero_component_tile_image_3" $.Site.Params.brokeros_hero_component_tile_image_3_default }}
{{ $.Site.Store.Set "brokeros_hero_component_tile_image_4" $.Site.Params.brokeros_hero_component_tile_image_4_default }}
{{ $.Site.Store.Set "brokeros_hero_component_tile_image_5" $.Site.Params.brokeros_hero_component_tile_image_5_default }}

{{ $.Site.Store.Set "brokeros_logo_cloud_component_full_path" $.Site.Params.brokeros_component_dir }}
{{ $.Site.Store.Add "brokeros_logo_cloud_component_full_path" $.Site.Params.brokeros_logo_cloud_component_full_path }}
{{ $.Site.Store.Add "brokeros_logo_cloud_component_headline_primary_text" $.Site.Params.brokeros_logo_cloud_component_headline_primary_text }}
{{ $.Site.Store.Add "brokeros_logo_cloud_component_headline_secondary_text" $.Site.Params.brokeros_logo_cloud_component_headline_secondary_text_default }}
{{ $.Site.Store.Add "brokeros_logo_cloud_component_logo_1_image" $.Site.Params.brokeros_logo_cloud_component_logo_1_image_default }}
{{ $.Site.Store.Add "brokeros_logo_cloud_component_logo_1_alt" $.Site.Params.brokeros_logo_cloud_component_logo_1_alt_default }}
{{ $.Site.Store.Add "brokeros_logo_cloud_component_logo_2_image" $.Site.Params.brokeros_logo_cloud_component_logo_2_image_default }}
{{ $.Site.Store.Add "brokeros_logo_cloud_component_logo_2_alt" $.Site.Params.brokeros_logo_cloud_component_logo_2_alt_default }}
{{ $.Site.Store.Add "brokeros_logo_cloud_component_logo_3_image" $.Site.Params.brokeros_logo_cloud_component_logo_3_image_default }}
{{ $.Site.Store.Add "brokeros_logo_cloud_component_logo_3_alt" $.Site.Params.brokeros_logo_cloud_component_logo_3_alt_default }}
{{ $.Site.Store.Add "brokeros_logo_cloud_component_logo_4_image" $.Site.Params.brokeros_logo_cloud_component_logo_4_image_default }}
{{ $.Site.Store.Add "brokeros_logo_cloud_component_logo_4_alt" $.Site.Params.brokeros_logo_cloud_component_logo_4_alt_default }} 
{{ $.Site.Store.Add "brokeros_logo_cloud_component_logo_5_image" $.Site.Params.brokeros_logo_cloud_component_logo_5_image_default }}
{{ $.Site.Store.Add "brokeros_logo_cloud_component_logo_5_alt" $.Site.Params.brokeros_logo_cloud_component_logo_5_alt_default }} 

{{ $.Site.Store.Set "brokeros_feature_component_full_path" $.Site.Params.brokeros_component_dir }}
{{ $.Site.Store.Add "brokeros_feature_component_full_path" $.Site.Params.brokeros_feature_component_default }}
{{ $.Site.Store.Set "brokeros_feature_component_announcement_text" $.Site.Params.brokeros_feature_component_announcement_text_default }}
{{ $.Site.Store.Set "brokeros_feature_component_primary_text" $.Site.Params.brokeros_feature_component_headline_primary_text_default }}
{{ $.Site.Store.Set "brokeros_feature_component_secondary_text" $.Site.Params.brokeros_feature_component_headline_secondary_text_default }}
{{ $.Site.Store.Set "brokeros_feature_component_image" $.Site.Params.brokeros_feature_component_image_default }}
{{ $.Site.Store.Set "brokeros_feature_component_feature_1_title" $.Site.Params.brokeros_feature_component_feature_1_title_default }}
{{ $.Site.Store.Set "brokeros_feature_component_feature_1_description" $.Site.Params.brokeros_feature_component_feature_1_description_default }}
{{ $.Site.Store.Set "brokeros_feature_component_feature_1_icon" $.Site.Params.brokeros_feature_component_feature_1_icon_default }}
{{ $.Site.Store.Set "brokeros_feature_component_feature_2_title" $.Site.Params.brokeros_feature_component_feature_2_title_default }}
{{ $.Site.Store.Set "brokeros_feature_component_feature_2_description" $.Site.Params.brokeros_feature_component_feature_2_description_default }}
{{ $.Site.Store.Set "brokeros_feature_component_feature_2_icon" $.Site.Params.brokeros_feature_component_feature_2_icon_default }}
{{ $.Site.Store.Set "brokeros_feature_component_feature_3_title" $.Site.Params.brokeros_feature_component_feature_3_title_default }}
{{ $.Site.Store.Set "brokeros_feature_component_feature_3_description" $.Site.Params.brokeros_feature_component_feature_3_description_default }}
{{ $.Site.Store.Set "brokeros_feature_component_feature_3_icon" $.Site.Params.brokeros_feature_component_feature_3_icon_default }}

{{ $.Site.Store.Set "brokeros_product_component" $.Site.Params.brokeros_product_component_default }}
{{ $.Site.Store.Set "brokeros_product_component_headline_primary_text" $.Site.Params.brokeros_product_component_headline_primary_text_default }}
{{ $.Site.Store.Set "brokeros_product_component_headline_secondary_text" $.Site.Params.brokeros_product_component_headline_primary_text_default }}

{{ $.Site.Store.Set "brokeros_cta_split_component" $.Site.Params.brokeros_cta_split_component_default }}
{{ $.Site.Store.Set "brokeros_cta_split_component_announcement_text" $.Site.Params.brokeros_cta_split_component_headline_primary_text_default }}
{{ $.Site.Store.Set "brokeros_cta_split_component_headline_primary_text" $.Site.Params.brokeros_cta_split_component_headline_primary_text_default }}
{{ $.Site.Store.Set "brokeros_cta_split_component_headline_secondary_text" $.Site.Params.brokeros_cta_split_component_headline_primary_text_default }}
{{ $.Site.Store.Set "brokeros_cta_split_component_background_image" $.Site.Params.brokeros_cta_split_component_background_image_default }}
{{ $.Site.Store.Set "brokeros_cta_split_component_cta_button_1_text" $.Site.Params.brokeros_cta_split_component_cta_button_1_text_default }}
{{ $.Site.Store.Set "brokeros_cta_split_component_cta_button_1_link" $.Site.Params.brokeros_cta_split_component_cta_button_1_link_default }}
{{ $.Site.Store.Set "brokeros_cta_split_component_cta_button_2_text" $.Site.Params.brokeros_cta_split_component_cta_button_2_text_default }}
{{ $.Site.Store.Set "brokeros_cta_split_component_cta_button_2_link" $.Site.Params.brokeros_cta_split_component_cta_button_2_link_default }}

{{ $.Site.Store.Set "brokeros_stats_component_simple_grid_full_path" $.Site.Params.brokeros_stats_component_simple_grid_full_path_default }}
{{ $.Site.Store.Set "brokeros_stats_component_simple_grid_headline_primary_text" $.Site.Params.brokeros_stats_component_simple_grid_headline_primary_text_default }}
{{ $.Site.Store.Set "brokeros_stats_component_simple_grid_headline_secondary_text" $.Site.Params.brokeros_stats_component_simple_grid_headline_secondary_text_default }}
{{ $.Site.Store.Set "brokeros_stats_component_simple_grid_stat_1_text" $.Site.Params.brokeros_stats_component_simple_grid_stat_1_text_default }}
{{ $.Site.Store.Set "brokeros_stats_component_simple_grid_stat_1_detail" $.Site.Params.brokeros_stats_component_simple_grid_stat_1_detail_default }}
{{ $.Site.Store.Set "brokeros_stats_component_simple_grid_stat_2_text" $.Site.Params.brokeros_stats_component_simple_grid_stat_2_text_default }}
{{ $.Site.Store.Set "brokeros_stats_component_simple_grid_stat_2_detail" $.Site.Params.brokeros_stats_component_simple_grid_stat_2_detail_default }}
{{ $.Site.Store.Set "brokeros_stats_component_simple_grid_stat_3_text" $.Site.Params.brokeros_stats_component_simple_grid_stat_3_text_default }}
{{ $.Site.Store.Set "brokeros_stats_component_imple_grid_stat_3_detail" $.Site.Params.brokeros_stats_component_simple_grid_stat_3_detail_default }}
{{ $.Site.Store.Set "brokeros_stats_component_simple_grid_stat_4_text" $.Site.Params.brokeros_stats_component_simple_grid_stat_4_text_default }}
{{ $.Site.Store.Set "brokeros_stats_component_simple_grid_stat_4_detail" $.Site.Params.brokeros_stats_component_simple_grid_stat_4_detail_default }}

{{ $.Site.Store.Set "brokeros_about_component_full_path_default" $.Site.Params.brokeros_about_component_default_full_path_default }}
{{ $.Site.Store.Set "brokeros_about_component_headline_primary_text" $.Site.Params.brokeros_about_component_headline_primary_text }}
{{ $.Site.Store.Set "brokeros_about_component_paragraph_1_default" $.Site.Params.brokeros_about_component_paragraph_1_default }}
{{ $.Site.Store.Set "brokeros_about_component_paragraph_2_default" $.Site.Params.brokeros_about_component_paragraph_1_default }}
{{ $.Site.Store.Set "brokeros_about_component_paragraph_3_default" $.Site.Params.brokeros_about_component_paragraph_1_default }}
{{ $.Site.Store.Set "brokeros_about_component_image_default" $.Site.Params.brokeros_about_component_image_default }}
{{ $.Site.Store.Set "brokeros_about_component_image_alt_default" $.Site.Params.brokeros_about_component_image_alt_default }}

{{ $.Site.Store.Set "brokeros_timeline_component_full_path_default" $.Site.Params.brokeros_timeline_component_full_path_default }}
{{ $.Site.Store.Set "brokeros_timeline_event_1_headline_text_default" $.Site.Params.brokeros_timeline_event_1_headline_text_default }}
{{ $.Site.Store.Set "brokeros_timeline_event_1_headline_subtext_default" $.Site.Params.brokeros_timeline_event_1_headline_subtext_default }}
{{ $.Site.Store.Set "brokeros_timeline_event_1_date_default" $.Site.Params.brokeros_timeline_event_1_date_default }}
{{ $.Site.Store.Set "brokeros_timeline_event_2_headline_text_default" $.Site.Params.brokeros_timeline_event_2_headline_text_default }}
{{ $.Site.Store.Set "brokeros_timeline_event_2_headline_subtext_default" $.Site.Params.brokeros_timeline_event_2_headline_subtext_default }}
{{ $.Site.Store.Set "brokeros_timeline_event_2_date_default" $.Site.Params.brokeros_timeline_event_2_date_default }}
{{ $.Site.Store.Set "brokeros_timeline_event_3_headline_text_default" $.Site.Params.brokeros_timeline_event_3_headline_text_default }}
{{ $.Site.Store.Set "brokeros_timeline_event_3_headline_subtext_default" $.Site.Params.brokeros_timeline_event_3_headline_subtext_default }}
{{ $.Site.Store.Set "brokeros_timeline_event_3_date_default" $.Site.Params.brokeros_timeline_event_3_date_default }}
{{ $.Site.Store.Set "brokeros_timeline_event_4_headline_text_default" $.Site.Params.brokeros_timeline_event_4_headline_text_default }}
{{ $.Site.Store.Set "brokeros_timeline_event_4_headline_subtext_default" $.Site.Params.brokeros_timeline_event_4_headline_subtext_default }}
{{ $.Site.Store.Set "brokeros_timeline_event_4_date_default" $.Site.Params.brokeros_timeline_event_4_date_default }}

{{ $.Site.Store.Set "brokeros_content_with_4_image_tiles_component_default" $.Site.Params.brokeros_content_with_4_image_tiles_component_default }}
{{ $.Site.Store.Set "brokeros_content_with_4_image_tiles_component_headline_text_default" $.Site.Params.brokeros_content_with_4_image_tiles_component_headline_text_default }}
{{ $.Site.Store.Set "brokeros_content_with_4_image_tiles_component_headline_secondary_default" $.Site.Params.brokeros_content_with_4_image_tiles_component_headline_secondary_default }}
{{ $.Site.Store.Set "brokeros_content_with_4_image_tiles_component_paragraph_default" $.Site.Params.brokeros_content_with_4_image_tiles_component_paragraph_default }}
{{ $.Site.Store.Set "brokeros_content_with_4_image_tiles_component_tile_image_1_default" $.Site.Params.brokeros_content_with_4_image_tiles_component_tile_image_1_default }}
{{ $.Site.Store.Set "brokeros_content_with_4_image_tiles_component_tile_image_1_alt_default" $.Site.Params.brokeros_content_with_4_image_tiles_component_tile_image_1_alt_default }}
{{ $.Site.Store.Set "brokeros_content_with_4_image_tiles_component_tile_image_2_default" $.Site.Params.brokeros_content_with_4_image_tiles_component_tile_image_2_default }}
{{ $.Site.Store.Set "brokeros_content_with_4_image_tiles_component_tile_image_2_alt_default" $.Site.Params.brokeros_content_with_4_image_tiles_component_tile_image_2_alt_default }}
{{ $.Site.Store.Set "brokeros_content_with_4_image_tiles_component_tile_image_3_default" $.Site.Params.brokeros_content_with_4_image_tiles_component_tile_image_3_default }}
{{ $.Site.Store.Set "brokeros_content_with_4_image_tiles_component_tile_image_3_alt_default" $.Site.Params.brokeros_content_with_4_image_tiles_component_tile_image_3_alt_default }}
{{ $.Site.Store.Set "brokeros_content_with_4_image_tiles_component_tile_image_4_default" $.Site.Params.brokeros_content_with_4_image_tiles_component_tile_image_4_default }}
{{ $.Site.Store.Set "brokeros_content_with_4_image_tiles_component_tile_image_4_alt_default" $.Site.Params.brokeros_content_with_4_image_tiles_component_tile_image_4_alt_default }}