{{ $.Store.Set "brokeros_component_dir" $.Site.Params.brokeros_component_dir }}
{{ $.Store.Set "brokeros_hero_component" $.Site.Params.brokeros_hero_component_default }}
{{ $.Store.Set "brokeros_hero_component_full_path" $.Site.Params.brokeros_component_dir }}
{{ $.Store.Add "brokeros_hero_component_full_path" $.Site.Params.brokeros_hero_component_default }}

{{ $.Store.Set "brokeros_hero_component_background_image" $.Site.Params.brokeros_hero_component_background_image_default }}
{{ $.Store.Set "brokeros_hero_component_announcement_text" $.Site.Params.brokeros_hero_component_announcement_text_default }}
{{ $.Store.Set "brokeros_hero_component_headline_primary_text" $.Site.Params.brokeros_hero_component_headline_primary_text_default }}
{{ $.Store.Set "brokeros_hero_component_headline_secondary_text" $.Site.Params.brokeros_hero_component_headline_secondary_text_default }}
{{ $.Store.Set "brokeros_hero_component_headline_tertiary_text" $.Site.Params.brokeros_hero_component_headline_tertiary_text_default }}
{{ $.Store.Set "brokeros_hero_component_cta_button_pretext" $.Site.Params.brokeros_hero_component_cta_button_pretext_default }}
{{ $.Store.Set "brokeros_hero_component_cta_button_1_text" $.Site.Params.brokeros_hero_component_cta_button_1_text_default }}
{{ $.Store.Set "brokeros_hero_component_cta_button_1_link" $.Site.Params.brokeros_hero_component_cta_button_1_link_default }}
{{ $.Store.Set "brokeros_hero_component_cta_button_2_text" $.Site.Params.brokeros_hero_component_cta_button_2_text_default }}
{{ $.Store.Set "brokeros_hero_component_cta_button_2_link" $.Site.Params.brokeros_hero_component_cta_button_2_link_default }}
{{ $.Store.Set "brokeros_hero_component_tile_image_1" $.Site.Params.brokeros_hero_component_tile_image_1_default }}
{{ $.Store.Set "brokeros_hero_component_tile_image_2" $.Site.Params.brokeros_hero_component_tile_image_2_default }}
{{ $.Store.Set "brokeros_hero_component_tile_image_3" $.Site.Params.brokeros_hero_component_tile_image_3_default }}
{{ $.Store.Set "brokeros_hero_component_tile_image_4" $.Site.Params.brokeros_hero_component_tile_image_4_default }}
{{ $.Store.Set "brokeros_hero_component_tile_image_5" $.Site.Params.brokeros_hero_component_tile_image_5_default }}
