{{ if .enable }}
  <div class="bos-section-tailwindui-orig overflow-hidden bg-(--bos-color-surface) dark:bg-(--bos-color-surface-dark)">
    <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start">
        <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
            {{ with .announcement }} 
              <h2 class="text-base/7 font-semibold text-(--bos-color-on-surface-variant)">
                {{ if .enable }}
                  {{ with .announcement_text }}
                    {{ . }}
                  {{ else }}
                    {{ site.Params.brokeros_feature_component_announcement_text_default }} 
                  {{ end }}
                {{ end }}
              </h2>
            {{ end }}
            {{ with .headline_primary }}
              <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-(--bos-color-on-surface) sm:text-5xl">
                {{ if .enable }}
                  {{ .headline_primary_text }}
                {{ else }}
                  {{ site.Params.brokeros_feature_component_headline_primary_text_default }} 
                {{ end }}
              </p>
            {{ end }}
            {{ with .headline_secondary }}
              <p class="mt-6 text-lg/8 text-(--bos-color-on-surface)">
                {{ if .enable }} 
                  {{ .headline_secondary_text }}
                {{ else }}
                  {{ site.Params.brokeros_feature_component_headline_secondary_text_default}}
                {{ end }} 
              </p>
            {{ end }}
            {{ with .features }}
              <dl class="mt-10 max-w-xl space-y-8 text-base/7 text-(--bos-color-on-surface) lg:max-w-none">
                {{ $feature_number := 1 }}
                {{ range .feature_details }}
                  <div class="relative pl-9">
                    <dt class="inline font-semibold text-(--bos-color-on-surface)">
                      <div class="absolute left-1 top-1 size-5 mb-6  flex items-center justify-center rounded-lg  ">
                        {{ with .icon}}
                          <i class="{{ . }}"></i>
                        {{ else }}
                          {{ if eq $feature_number 1 }}
                            <i class=" {{ site.Params.brokeros_feature_component_feature_1_icon_default }} "></i>
                          {{ else if eq $feature_number 2 }}
                            <i class=" {{ site.Params.brokeros_feature_component_feature_2_icon_default }} "></i>
                          {{ else if eq $feature_number 3 }}
                            <i class=" {{ site.Params.brokeros_feature_component_feature_3_icon_default }} "></i>
                          {{ end }}
                        {{ end }}
                      </div>
                      {{ with .title }}
                        {{ . }}
                      {{ else }}
                        {{ if eq $feature_number 1 }}
                          {{ site.Params.brokeros_feature_component_feature_1_title_default }}
                        {{ else if eq $feature_number 2 }}
                          {{ site.Params.brokeros_feature_component_feature_2_title_default }}
                        {{ else if eq $feature_number 3 }}
                          {{ site.Params.brokeros_feature_component_feature_3_title_default }}
                        {{ end }}
                      {{ end }}
                    </dt>
                    <dd class="inline">
                      {{ with .description }}
                        {{ . }}
                      {{ else }}
                        {{ if eq $feature_number 1 }}
                          {{ site.Params.brokeros_feature_component_feature_1_description_default }}
                        {{ else if eq $feature_number 2 }}
                          {{ site.Params.brokeros_feature_component_feature_2_description_default }}
                        {{ else if eq $feature_number 3 }}
                          {{ site.Params.brokeros_feature_component_feature_3_description_default }}
                        {{ end }}
                      {{ end }}
                    </dd>
                  </div>
                  {{ $feature_number = add $feature_number 1 }}
                {{ end }}
              </dl>
            {{ end }}
          </div>
        </div>
        <div class="sm:px-6 lg:px-0">
          <!-- ORIG DIV with padded image
            <div class="relative isolate overflow-hidden px-6 pt-8 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-16 sm:pr-0 sm:pt-16 lg:mx-0 lg:max-w-none">
          -->
          <div class="relative isolate overflow-hidden ">
            <div class="absolute -inset-y-px -left-3 -z-10 w-full origin-bottom-left skew-x-[-30deg] bg-indigo-100 opacity-20 ring-1 ring-inset ring-white" aria-hidden="true"></div>
            <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
              {{ with .feature_image }}
                <img src="{{ . }}" alt="Product screenshot" width="2432" height="1442" class="-mb-12 w-[57rem] max-w-none rounded-tl-xl bg-(--bos-color-surface) ring-1 ring-white/10">
              {{ else }}
                <img src="{{ site.Params.brokeros_feature_component_image_default }}" alt="Product screenshot" width="2432" height="1442" class="-mb-12 w-[57rem] max-w-none rounded-tl-xl bg-(--bos-color-surface) ring-1 ring-(--bos-color-primary)/10">
              {{ end }}
            </div>
            <div class="pointer-events-none absolute inset-0 ring-1 ring-inset ring-black/10 sm:rounded-3xl" aria-hidden="true"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}