
{{ $bg_image := site.Params.brokeros_hero_component_background_image_default }}
{{ with .background_image }}
  {{ $bg_image = . }}
{{ end }}

<!-- <div class="bg-(--bos-color-primary) bg-blend-soft-light pb-16 relative min-h-screen w-full bg-[url('{{ $bg_image }}')] bg-cover bg-center bg-no-repeat">-->
<div class="bg-(--bos-color-primary) bg-blend-soft-light relative min-h-screen w-full bg-[url('{{ $bg_image }}')] bg-cover bg-center bg-no-repeat">
  <div class="absolute inset-0 h-full w-full after:bg-(--bos-color-primary)"></div>
    <div class="grid min-h-screen px-8">
      <div class="container relative z-10 my-auto mx-auto grid place-items-center text-center">
          <h3 class="block antialiased tracking-normal font-sans font-semibold text-white text-lg !leading-snug lg:text-2xl">
            {{ with .headline_secondary_text}}
              {{ . }}
            {{ else }}
              {{ site.Params.brokeros_hero_component_headline_secondary_text_default  }}
            {{ end }}
          </h3>
          <h1 class="block antialiased tracking-normal font-sans font-semibold text-white my-4 text-3xl !leading-snug lg:text-5xl">
            {{ with .headline_primary_text }}
              {{ . }}
            {{ else }}
              {{ site.Params.brokeros_hero_component_headline_primary_text_default }}
            {{ end }}
          </h1>
          <p class="block antialiased font-sans text-xl font-normal leading-relaxed text-white mb-10 max-w-2xl">
            {{ with .headline_tertiary_text }}
              {{ . }}
            {{ else }}
              {{ site.Params.brokeros_hero_component_headline_tertiary_text_default }}
            {{ end }}
          </p>
          <div class="mt-10 flex items-center gap-x-6">
            <a href="#hero-bottom" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-(--bos-color-primary) hover:bg-(--bos-color-on-primary-container-variant) shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
              {{ with .cta_button_1_text }}
                {{ . }}
              {{ else }}
                {{ site.Params.brokeros_hero_component_cta_button_1_text_default }}
              {{ end }}
            </a>
            <a href="#" class="text-sm/6 font-semibold text-white hover:text-(--bos-color-on-primary-container-variant)">
              {{ with .cta_button_2_text }}
                {{ . }}
              {{ else }}
                {{ site.Params.brokeros_hero_component_cta_button_2_text_default }}
              {{ end }}
              <span aria-hidden="true">→</span></a>
          </div>
      </div>
      
    </div>
  </div>
</div>
<section id="hero-bottom" class="pb-12">

</section>