<div class="bos-section rounded-xl bg-(--bos-color-primary-container)">
    <div class="pb-1"></div>
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <h2 class="mt-6 text-center text-lg/8 font-semibold text-(--bos-color-on-primary-container)">
              {{ with .headline_primary_text}}
                  {{ . }}
              {{ else }}
                  {{ site.Params.brokeros_logo_cloud_component_headline_primary_text  }}
              {{ end }}
            </h2>
          </div>
    
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
    {{ with .logos }}
        {{ $counter := 1 }}
        {{ range .logo_details }}
            {{ if .image }}
                <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{ .image }}" alt="{{ .alt }}" width="158" height="48">
            {{ else }}
                {{ if eq $counter 1 }}
                    <img class="invert col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{ site.Params.brokeros_logo_cloud_component_logo_1_image_default }}" alt="{{ site.Params.brokeros_logo_cloud_component_logo_1_alt_default }}" width="158" height="48">
                {{ else if eq $counter 2 }}
                    <img class="invert col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{ site.Params.brokeros_logo_cloud_component_logo_2_image_default }}" alt="{{ site.Params.brokeros_logo_cloud_component_logo_2_alt_default }}" width="158" height="48">
                {{ else if eq $counter 3 }}
                    <img class="invert col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{ site.Params.brokeros_logo_cloud_component_logo_3_image_default }}" alt="{{ site.Params.brokeros_logo_cloud_component_logo_3_alt_default }}" width="158" height="48">
                {{ else if eq $counter 4 }}
                    <img class="invert col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{ site.Params.brokeros_logo_cloud_component_logo_4_image_default }}" alt="{{ site.Params.brokeros_logo_cloud_component_logo_4_alt_default }}" width="158" height="48">
                {{ else if eq $counter 5 }}
                    <img class="invert col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="{{ site.Params.brokeros_logo_cloud_component_logo_5_image_default }}" alt="{{ site.Params.brokeros_logo_cloud_component_logo_5_alt_default }}" width="158" height="48">
                {{ end }}
            {{ end }}
            {{ $counter = add $counter 1 }}
        {{ end }}
    {{ end }}
    </div>
</div>