<div class="bos-section bg-white">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
        {{ with .headline_primary }}
          {{ if .enable }}
            {{ with .headline_primary_text }}
              {{ . }}
            {{ else }}
              {{ site.Params.brokeros_product_component_headline_primary_text_default }}
            {{ end }}
          {{ end }}
        {{ end }}
      </h2>
      <p class="mt-6 text-lg/8 text-gray-600">
        {{ with .headline_secondary }}
          {{ if .enable }}
            {{ with .headline_secondary_text }}
              {{ . }}
            {{ else }}
              {{ site.Params.brokeros_product_component_headline_secondary_text_default}}
            {{ end }}
          {{ end }}
        {{ end }}
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        {{ with .products }}
          {{ if .enable }}
            {{ range .product_details }}
              <div class="flex flex-col">
                <dt class="text-base/7 font-semibold text-gray-900">
                  <div class="mb-6 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
                    <i class="{{ .icon }}"></i>
                  </div>
                  {{ .title }}
                </dt>
                <dd class="mt-1 flex flex-auto flex-col text-base/7 text-gray-600">
                  <p class="flex-auto">{{ .description }}</p>
                  <p class="mt-6">
                    <a href="{{ .cta_link }}" class="text-sm/6 font-semibold text-indigo-600">{{ .cta_text }} <span aria-hidden="true">→</span></a>
                  </p>
                </dd>
              </div>
            {{ end }}
          {{ end }}
        {{ end }}
      </dl>
    </div>
  </div>
</div>