<section-hero>
  <div class="container py-8 md:py-16 lg:py-24 mx-auto">
    <div class="mb-12 md:mb-24">
      <h1 class="font-sans antialiased font-bold text-3xl md:text-4xl lg:text-5xl text-current [text-wrap:_balance] max-w-3xl mx-auto mb-6 text-center !leading-tight">Number 2. Our company mission is to lead the web development!!!</h1>
      <p class="font-sans antialiased text-base md:text-lg text-slate-600 mb-12 mx-auto text-center max-w-xl">The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color.</p>
      <form action="#" class="max-w-lg w-full mx-auto">
        <div class="flex w-full items-center flex-col sm:flex-row gap-2">
          <div class="relative w-full aria-disabled:cursor-not-allowed data-[shape=pill]:rounded-full text-base rounded-lg" data-shape="default">
            <input id="email" placeholder="someone@example.com" type="email" class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-3 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow" data-error="false" data-success="false" data-shape="default" data-icon-placement="" />
          </div>
          <button type="submit" class="inline-flex items-center justify-center border align-middle select-none font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-base rounded-md py-2.5 px-5 shadow-sm hover:shadow-lg bg-slate-800 border-slate-800 text-slate-50 hover:bg-slate-700 hover:border-slate-700 shrink-0 w-full sm:w-auto" data-shape="default" data-width="default">Get Started</button>
        </div>
        <div class="inline-flex items-center mt-4">
          <label class="flex items-center cursor-pointer relative" for="check-2">
            <input type="checkbox" checked class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded shadow hover:shadow-md border border-slate-300 checked:bg-slate-800 checked:border-slate-800" id="check-2" />
            <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg>
            </span>
          </label>
          <label class="cursor-pointer ml-2 text-slate-600 text-sm" for="check-2"> I agree with terms and conditions </label>
        </div>
      </form>
    </div>
    <div class="w-full h-[40vh] sm:h-[50vh] md:h-[60vh] lg:h-[70vh]">
      <img src="https://v3.material-tailwind.com/gradient-pattern.jpg" alt="gradient pattern" class="w-full h-full rounded-xl" />
    </div>
  </div>
</section-hero>